body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
.link{
    background: wheat;
    border-radius: 10px;
    width: 250px;
    margin-top: 15px;
    font-size: medium;
}
.link:hover{
    font-size: larger;
}